@{
    ViewData["Title"] = "Home Page";
    
}


<div class="container m-4 text-center position-absolute bottom-0">
    <h1></h1>
    <input class="w-75 p-2 border-0" type="text" placeholder="Insira sua pergunta">
    <button class="p-2 border-0 rounded">Enviar</button>
</div>
